apps/frappe/
apps/erpnext/
apps/payments/
apps/webshop/
sites/*.db
sites/*.sql
sites/assets
sites/backups
config/redis
config/nginx
config/supervisor
logs/*
env/
# Frappe/Bench ignores
*.pyc
*.swp
*.swo
*.egg-info
*.log
*.pot
*.mo
__pycache__/
.env
sites/.build
sites/*.sqlite
sites/*.sqlite.gz
sites/assets/
sites/error-snapshot/
sites/test_site/
sites/currentsite.txt
sites/common_site_config.json
node_modules/
yarn-error.log
.DS_Store
Frappe/
